<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30657377400-jbtsi7stkdf0r5mn1dghupgjni1b2jnd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30657377400-jbtsi7stkdf0r5mn1dghupgjni1b2jnd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>30657377400-2k5q53a5gm4gvhe09el679mk5rlqj343.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD2TfB0WSqdGY6Vwd3AGJueS25O7DlmWWk</string>
	<key>GCM_SENDER_ID</key>
	<string>30657377400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.recquest.app</string>
	<key>PROJECT_ID</key>
	<string>recquest-live-9e24c</string>
	<key>STORAGE_BUCKET</key>
	<string>recquest-live-9e24c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30657377400:ios:4b7dd9180c1349166fe98d</string>
</dict>
</plist>